{% load static %}
<!-- TODO: Add confirmation message that the patient has been successfully added -->
<html>
    <head>
        <title>Add Device</title>
        <link rel="stylesheet" type="text/css" href='{% static "style.css" %}' />
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}"/>
        <script type="text/javascript" src="{% static 'jquery-3.3.1.min.js' %}"> </script>

    </head>
    <body>
      <div class="container" id="inputs">

        <form method="post">
          {% csrf_token %}
          <br>
          <!-- Submit button : form.caregroup.html_name is just 'caregroup'; form.caregroup.id_for_label is just 'id_caregroup'-->
          <SELECT class="basic" id="{{ form.patient.id_for_label }}" name = "{{ form.patient.html_name }}">
            {% for p in patients %}
              {% if p.device is None  %}
                <OPTION value="{{p.id}}" >{{p.first_name}}, {{p.last_name}}</OPTION> <!-- value == one in list of patients-->
              {% endif %}
            {% endfor %}
          </SELECT>

          <br>
          <button class="login" type="submit">Add Device</button>
        </form>
      </div>
      <footer>&copy; CareChanger</footer>
    </body>
</html>
