
html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
}

body {
	font-family: lato, sans-serif;
	background-color:#eeeeee;
	background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%);
	/* https://webgradients.com/ */
}

.container {
	position:absolute;
	width:100%;
	top: 30%;
	text-align: center;
}

/* gets rid of scrollbar, which was buggy/clipped behind dash_content div*/
::-webkit-scrollbar {
    display: none;
}

a {
	text-decoration: none;
	color: #323232;
}

h2,h3,h4 {
	margin: 0;
}

.patient {
	border-style: solid;
	border-width: 2px;
	border-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	background-color: #fff;
	margin-left:10px;
	margin-right:10px;
	margin-top:30px;
	padding:10px;
	box-shadow: 0px 0px 10px #dddddd;
	border-spacing: 0px;
	cursor:pointer;
	transition-duration: 0.5s;
	/*display: inline-block;*/ /*makes divs smaller, rather than a list that takes up full width */
}

.patient:hover {
	box-shadow: 0px 0px 10px #bbbbbb;
	transition-duration: 0.5s;
}

.patient_last_event {
	float:right;
}

.patient_graph {
	margin:auto;
}

.th {
	color: rgba(0, 0, 0, 0.5);
	padding:10px;
	text-align: left;
	display:inline-block;
	margin:0px;
}

.status_clean {
	margin-left: -12px; /* 10 for padding, 2 for border */
	margin-top:-12px;
	margin-bottom:-12px;
	line-height:52px;
	background-color: #66dd44;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	text-align: center;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
}

.status_dirty {
	/*position:relative;*/
	margin-left: -12px; /* 10 for padding, 2 for border */
	margin-top:-12px;
	margin-bottom:-12px;
	line-height:52px;
	background-color: #dd6644;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	text-align: center;
	padding-left:15px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	transition: 0.5s;
}

.status_dirty:hover {
	background-color: #cc5533;
	transition: 0.5s;
}

.login {
	font-family: lato, sans-serif;
	padding-bottom:2px;
	padding-top:5px;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: #ffffff88;
	background-color: #ffffff00;
	text-align: left;
	width:100%;
	color: #ffffff88;
	transition:.5s;
	font-size:12pt;
}

.login:hover {
	color:#ffffff;
	transition:.5s;
	border-color: #ffffff;
}

.login:hover::placeholder {
	color:#ffffff;
	transition:.5s;
}

.login::placeholder {
	color:#ffffff88;
	transition:.5s;
}

.login:focus {
	outline:none;
}

.login_button {
	font-family: lato, sans-serif;
	float: left;
	background-color: #ffffff00;
	text-align: left;
	border-style: none;
	opacity:50%;
	padding:0px;
	color: #ffffff;
	font-size:12pt;
	transition:.5s;
}

.login_button:hover {
	cursor: pointer;
	opacity: 100%;
	transition:.5s;

}
.remember_me {
	float: right;
	font-family: lato, sans-serif;
	color: #ffffff;
	cursor: pointer;
	font-size:12pt;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
/* Hide the browser's default checkbox */
.remember_me input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
  }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	display: none; /* (starts hidden) */
	margin-left: 10px;

}

/* Show the checkmark when checked */
.remember_me input:checked ~ .checkmark:after {
	display: inline-block;
}

/* Style the checkmark/indicator */
.remember_me .checkmark:after {
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

form {
	margin-left:auto;
	margin-right:auto;
	border-radius: 25px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.0);
	padding-left:30px;
	padding-right:30px;
	display:inline-block;
	padding-bottom:30px;
}

#form_logo {
	margin-top:0px;
	width:100px;
}

li {
	float:left;
	border-right-style:solid;
	border-right-width:1px;
	border-right-color: rgba(255, 255, 255, 0.2);
	text-transform: uppercase;
	height:100px;
	line-height: 100px;
	transition:0.5s;
	text-align:center;
}

li .nav_a {
	display: inline-block;
	color: white;
	padding-left:20px;
	padding-right:20px;
	text-decoration: none;
	text-align: center;
	height:inherit;
}

li:hover .nav_a{ /* exclude "a" tag elements that are of class dropdown link */
	position:relative;
	color:#323232;
	background-color: #fff;
	border-top-style:solid;
	border-top-width:10px;
	border-top-color: white;
	transition-property: height, border-top-width, border-top-color, background-color;
	transition-duration: 0.5s;
	height:90px;
}

.dropdown_link {
	position:relative;
	color:#323232;
	background-color: #ffffff;
	visibility:hidden;
	display:block;
	border-style:none; /* clears the previous border style */
	border-top-style:solid;
	border-top-width:1px;
	border-top-color: #dddddd;
	line-height:30px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	text-align:center;
	text-transform: uppercase;
	width:100%;
	transition:0.5s;
	transition-property: border-top-style, border-top-color, background-color;
	padding:0px; /* This might cause problems later */
	margin:0px;
}

.dropdown_link:hover {
	background-color: #eeeeee;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color: #dddddd;
}

.dropdown_link:focus {
    outline:none;
}
.nav_dropdown_list {
	width:150px;
}

.nav_dropdown_list:hover .active_dropdown_list_element {
	position:relative;
	color:#323232;
	background-color: white;
	border-style:none;
	border-top-style:solid;
	border-top-width:10px;
	border-top-color: white;
	transition: 0.5s;
	transition-property: border-top-width, border-top-color, background-color, height;
	height:90px;
}

.nav_dropdown_list:hover .dropdown_link {
	visibility:visible;
	border-top-style:solid;
	border-top-width:1px;
	border-top-color: #eeeeee;
}

li .active_dropdown_list_element { /* the "li" tag in front allows ".active_dropdown_list_element" to override ".nav_a" class. */
	width:100%;
	height:100px;
	padding:0px;
	margin:0px;
	overflow:hidden;
}


#logo_container {
	position: relative;
	width:100px;
	transition: 0.5s;
	transition-timing-function: ease-out;
}

#logo {
	position: absolute;
	opacity: 100%;
	width:100%;
	left: 0%;
	transition: 0.5s;
	transition-timing-function: ease-out;
	
}

#logo_black {
	position: absolute;
	opacity: 0%;
	width:100%;
	left: 0%;
	transition: 0.5s;
	transition-timing-function: ease-out;
}
#inputs {
	text-align: center;
	padding-top: 20px;
}

.content {
	color:white;
	margin-left:0%;
	margin-right:0%;
	padding-top:140px;
	padding-right:5%;
	padding-left:5%;
	left:0px;
}

.nav {
	position:fixed;
	width:100%;
	top:0px;
	background-image: linear-gradient(120deg, #66a6ff 0%, #89f7fe 100%) ;
	overflow:auto; 
	height: 100px;
	z-index: 1;
	transition: 0.5s;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
	transition-timing-function: ease-out;

}
.nav ul {
	list-style-type: none;
	margin:0;
	padding:0;
	left:0;
	top:0;
	width:100%;
	transition:0.5s;
	transition-timing-function: ease-out;
	background-color: #ffffff00;
}


#dash_nav {
	position:fixed;
	background-color: white;
	width:100%;
	transition:0.5s;
	transition-timing-function: ease-out;
	top:100px;
	padding:5px;
	z-index:0;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
}

#dash_content {
	color:white;
	background-color: #eeeeee;
	margin-left:0%;
	margin-right:0%;
	margin-top:100px;
	padding-top:50px; /* this will position all of the 'patient' divs vertically from the nav bar */
	padding-bottom:10px;
	padding-right:5%;
	padding-left:5%;
	left:0px;
	height:100%;
	overflow:scroll; /* this ensures dash_content background stays full height even after graphs are opened */
}

.scrolled #dash_nav {
	top:60px;
	transition:0.5s;
	transition-timing-function: ease-out;

}

.scrolled a {
	color: #464a4f;
	position:relative;
	transition: 0.5s;
	transition-timing-function: ease-out;

	/*top:-1px;*/
}

.scrolled {
	background-image: none;
	background-color: #fff;
  	transition: background-image 0.5s ease-out;
	color: #464a4f;
	height: 60px;
	transition: 0.5s;
	transition-timing-function: ease-out;

}

.scrolled li{
  	height:60px;
	transition:0.5s;
	transition-timing-function: ease-out;
	line-height: 60px;
}

.scrolled #caregroups_list:hover #active_caregroup { /* when scrolled, keep active_caregroup element from moving */
	border-top-width: 0px;
	height:60px;
}

.scrolled #active_caregroup{
	border-top-width: 0px;
	height:60px;
}

.scrolled li:hover a{
	border-top-width: 0px;
	height:60px;
	background-color: #eeeeee;
	transition: 0.5s;
	transition-timing-function: ease-out;
}

.scrolled #logo_black {
	opacity: 100%;
	transition: 0.5s;
	transition-timing-function: ease-out;

}

.scrolled #logo {
	opacity: 0%;
	transition: 0.5s;
	transition-timing-function: ease-out;

}

.scrolled #logo_container {
	width:60px;
	transition: 0.5s;
	transition-timing-function: ease-out;
}

#name {
	margin: auto;
	float: center;
	padding: 10px;
}

#alert {
	margin: auto;
	width: 50px;
	float: left;
	padding-left: 15px;
	padding-right: 10px;
	padding-top: 50px;
	padding-bottom: 50px;
}

footer {
	color: #ffffff;
	text-align: center;
	font-size:12pt;
	padding:10px;
}

#dash_footer {
	background-color: #eeeeee;
	z-index: -4;
}

/* Controls the style of the buttons in the second-tier nav bar in the dashboard view. */
.dash_nav_button {
	padding:10px;
	border-style: none;
	background-color: inherit;
	text-align: center;
	color: #323232;
	font-size:12pt;
	margin:0px;
}

/* Controls the style of the "a" tags of the buttons in the thesecond-tier nav bar in the dashboard view. */

.dash_nav_button:hover a{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #323232;
}

.login_error {
    background-color: white;
    border-radius: 7px;
    width: 150px;
    text-align: center;
    padding: 10px;
    position: absolute;
    text-size: 6;
    left: 680px;
    top: 50px;
}

.dot1 {
  height: 5px;
  width: 5px;
  background-color: white;
  border-radius: 50%;
  left: 650px;
  top: 210px;
  position: absolute;}

.dot2 {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  left: 660px;
  top: 195px;
  position: absolute;
}

.dot3 {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  left: 670px;
  top: 175px;
  position: absolute;
}

#note {
	color:#323232;
}
